docs/n8n-flows/dam-alerts.json
{
  "name": "DIA - Dam Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dam-alerts",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {
          "rawBody": false
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook (DIA)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "dam-alerts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_DIA_WEBHOOK_BEARER_CREDENTIAL_ID",
          "name": "DIA Webhook Bearer"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "waha-1",
              "name": "chatId",
              "value": "={{$('Webhook (DIA)').item.json.body.whatsapp_to}}",
              "type": "string"
            },
            {
              "id": "waha-2",
              "name": "text",
              "value": "={{$('Webhook (DIA)').item.json.body.message}}",
              "type": "string"
            },
            {
              "id": "waha-3",
              "name": "session",
              "value": "default",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Format WAHA payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha.linkwise.digital/api/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": {{JSON.stringify($json.chatId)}},\n  \"text\": {{JSON.stringify($json.text)}},\n  \"session\": {{JSON.stringify($json.session)}}\n}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Send via WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WAHA_API_KEY_CREDENTIAL_ID",
          "name": "WAHA API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"sent\",\n  \"alert_id\": {{$('Webhook (DIA)').item.json.body.alert_id}},\n  \"waha_response\": {{JSON.stringify($json)}}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Respond 200 to DIA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook (DIA)": {
      "main": [
        [
          {
            "node": "Format WAHA payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format WAHA payload": {
      "main": [
        [
          {
            "node": "Send via WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via WAHA": {
      "main": [
        [
          {
            "node": "Respond 200 to DIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "dia",
      "createdAt": "2026-04-26T00:00:00.000Z"
    }
  ],
  "meta": {
    "instanceId": "dia-fractal"
  }
}
