docs/n8n-flows/dam-alerts.json
{
  "name": "DIA - Dam Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dam-alerts",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook (DIA)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "dam-alerts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-1",
              "leftValue": "={{$json.headers.authorization}}",
              "rightValue": "=Bearer {{$env.DIA_WEBHOOK_TOKEN}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Auth: Bearer ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone-1",
              "name": "to",
              "value": "={{$env.DIA_WHATSAPP_TO}}",
              "type": "string"
            },
            {
              "id": "msg-1",
              "name": "messaging_product",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "msg-2",
              "name": "type",
              "value": "text",
              "type": "string"
            },
            {
              "id": "msg-3",
              "name": "text.body",
              "value": "={{$('Webhook (DIA)').item.json.body.message}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Format WhatsApp payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{$env.DIA_WHATSAPP_PHONE_ID}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIA_WHATSAPP_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$env.DIA_WHATSAPP_TO}}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{JSON.stringify($('Webhook (DIA)').item.json.body.message)}} }\n}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Send via WhatsApp Cloud API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"sent\",\n  \"alert_id\": {{$('Webhook (DIA)').item.json.body.alert_id}},\n  \"whatsapp_response\": {{JSON.stringify($json)}}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Respond 200 to DIA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"unauthorized\",\n  \"detail\": \"Invalid or missing Bearer token\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Webhook (DIA)": {
      "main": [
        [
          {
            "node": "Auth: Bearer ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth: Bearer ok?": {
      "main": [
        [
          {
            "node": "Format WhatsApp payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format WhatsApp payload": {
      "main": [
        [
          {
            "node": "Send via WhatsApp Cloud API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via WhatsApp Cloud API": {
      "main": [
        [
          {
            "node": "Respond 200 to DIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "dia",
      "createdAt": "2026-04-24T00:00:00.000Z"
    }
  ],
  "meta": {
    "instanceId": "dia-fractal"
  }
}
